{
  "log": {
    "loglevel": "warning"
  },
  "dns": {
    "servers": [
      "1.1.1.1",
      "8.8.8.8"
    ],
    "queryStrategy": "UseIPv4",
    "disableFallback": false,
    "tag": "dns-aux"
  },
  "inbounds": [
    {
      "tag": "VLESS-TCP-REALITY",
      "listen": "0.0.0.0",
      "port": 443,
      "protocol": "vless",
      "settings": {
{% if setup_variant == "marzban" %}
        "clients": [],
{% else %}
        "clients": [
          {
            "id": "{{ xray_uuid.stdout }}",
            "email": "default",
            "flow": "xtls-rprx-vision"
          }
        ],
{% endif %}
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "xver": 1,
          "target": "127.0.0.1:4123",
          "serverNames": [
            "{{ domain }}"
          ],
          "privateKey": "{{ x25519_pik.stdout }}",
          "publicKey": "{{ x25519_pbk.stdout }}",
          "minClientVer": "1.8.0",
          "maxTimeDiff": 60000,
          "shortIds": [
{% for sid in short_ids %}
            "{{ sid }}"{% if not loop.last %},{% endif %}

{% endfor %}
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ],
        "routeOnly": true
      }
    },
    {
      "tag": "VLESS-XHTTP-REALITY",
      "listen": "0.0.0.0",
      "port": {{ xhttp_port | default(2087) }},
      "protocol": "vless",
      "settings": {
{% if setup_variant == "marzban" %}
        "clients": [],
{% else %}
        "clients": [
          {
            "id": "{{ xray_uuid.stdout }}",
            "email": "default"
          }
        ],
{% endif %}
        "decryption": "none"
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "reality",
        "xhttpSettings": {
          "path": "/api/v1/update",
          "mode": "auto"
        },
        "realitySettings": {
          "target": "127.0.0.1:4123",
          "serverNames": [
            "{{ domain }}"
          ],
          "privateKey": "{{ x25519_pik.stdout }}",
          "publicKey": "{{ x25519_pbk.stdout }}",
          "minClientVer": "1.8.0",
          "maxTimeDiff": 60000,
          "shortIds": [
{% for sid in short_ids %}
            "{{ sid }}"{% if not loop.last %},{% endif %}

{% endfor %}
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ],
        "routeOnly": true
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct",
      "settings": {
        "domainStrategy": "UseIPv4"
      }
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }{% if setup_warp|default(false)|bool %},
    {
      "tag": "warp",
      "protocol": "socks",
      "settings": {
        "servers": [
          {
            "address": "127.0.0.1",
            "port": 40000
          }
        ]
      }
    }{% endif %}

  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "ip": [
          "geoip:private"
        ],
        "outboundTag": "block"
      },
      {
        "type": "field",
        "protocol": [
          "bittorrent"
        ],
        "outboundTag": "block"
      }{% if setup_warp|default(false)|bool %},
      {
        "type": "field",
        "domain": [
          "geosite:category-ru",
          "regexp:.*\\.xn--[a-z0-9]+$",
          "regexp:.*\\.ru$",
          "regexp:.*\\.su$"
        ],
        "outboundTag": "warp"
      }{% endif %}

    ]
  }
}
